* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#chat {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.user {
  text-align: right;
  margin: 8px 0;
  color: #fff;
}

.ravy {
  text-align: left;
  margin: 8px 0;
  color: #aaa; /* gris */
}

.input-area {
  display: flex;
  padding: 10px;
  background: #111;
}

#userInput {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
}

#sendBtn {
  padding: 10px 15px;
  margin-left: 8px;
  border: none;
  background: #444;
  color: #fff;
  cursor: pointer;
}
